.FooterComponent {
  margin-top: 10px;
  background-color: #323640;
  flex-direction: row;
  align-items: center;
  height: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

.summary {
  color: white;
  font-size: 10px;
}

.ContactInfo {
  padding: 5px;
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.ContactInfo p {
  margin: 0px;
  padding: 5px;
  color: white;
  font-size: 10px;
}
