.FooterComponent {
  margin-top: 0;
  padding: 0;
  background-color: #041c32;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  left: 0;
  bottom: 0;
  right: 0;
}

.summary {
  align-items: center;
  color: white;
  font-size: 10px;
}

.ContactInfo {
  align-items: center;
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.ContactInfo p {
  align-items: center;
  margin: 0px;
  padding: 5px;
  color: white;
  font-size: 10px;
}
