.Producten {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10px;
  /*margin: 20px;*/
  background-color: #333333;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.Product {
  width: 250px;
  height: 400px;
  padding: 10px 10px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #47b3ff;
}

.Product img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.Product:hover {
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 1);
}

.Product h1 {
  color: white;
  font-weight: bold;
  font-size: 15px;

  margin-bottom: 8px;
}

.Product p {
  color: white;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.QantityButtons .Add {
  background-color: seagreen;
  font-weight: bold;
  margin: 5px;
  padding: 2px;
  height: 20px;
  width: 25px;
}
.QantityButtons .Subtract {
  background-color: #ff4f42;
  font-weight: bold;
  margin: 5px;
  padding: 2px;
  height: 20px;
  width: 25px;
}
.Producten .AddToCart {
  font-weight: bold;
  margin: 5px;
  padding: 2px;
}
