.WinkelMandItem {
  width: 250px;
  height: fit-content;
  padding: 10px;
  padding: 10px 16px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.WinkelMandItem img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.WinkelMandItem:hover {
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.15);
}

.WinkelMandItem h1 {
  font-size: 20px;
  color: #3b3d3b;
  margin-bottom: 8px;
}

.DeleteButton {
  margin: 5px;
  padding: 2px;
}
