.Winkelmand {
  display: flex;
  padding: 10px;
  margin: 20px;
  flex-direction: column;
  align-items: center;
}

.OrderButton {
  background-color: #30e330;
  height: 30px;
  width: 100px;
  align-self: center;
  border: none;
  border-radius: 10px;
}
